<?xml version="1.0"?>
<model>
  <name>fixar_007</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  
  <description>
    Fixar 007 VTOL Drone with IMU, GPS, Altimeter, Magnetometer, and Air Pressure sensors
  </description>
</model>
